header{
  display:flex;
  margin-left: 60px;
  margin-right: 200px;
  margin-top: 30px;
  align-items: center;
  background-color: transparent;
  ul{
    display: flex;
    justify-content: center;
    gap:80px;
    list-style: none;
    color:$blue;
    margin-left: 140px;
    z-index: 5;
    select{
      border:0;
      color:$blue;
      margin-left: 0px;
      background-color: white;
    }
      li a{
      text-decoration: none;
      color: $blue;
     
      }
    }
  }
.login{
  position: absolute;
  right:150px;
  top:30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  z-index: 2;
  img:last-of-type{
    margin-right: 50px;
  }
  a{
    color: $blue;
  }
  button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color: $blue;

    a{
      text-decoration: none;
      color:white;
      font-size: 16px;
    }
  }
}

